@charset "UTF-8";

/* 심신의 안정을 위해 해당 코드는 지우지 말 것 */

body {
	position: relative;
}

.blank {
	height: 160px;
}

.main_wrap {
	/* padding-top: 160px; */
	background-color: skyblue;
}

/* 검색 아이콘 */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.BOM_list_tit h1 {
	font-size: 30px;
	font-weight: 700;
}

.search_header {
	background-color: yellow;
	width: 30%;
	float: right;
}
