@charset "UTF-8";

/* 심신의 안정을 위해 해당 코드는 지우지 말 것 */

body {
	position: relative;
}

.subject {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	padding-bottom: 0;
}

.manufaturing {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 70px;
}

.subject p {
	font-size: 32px;
	font-weight: bold;
}

.manufaturing table {
	position: relative;
	border-collapse: collapse;
	border: 1px solid black;
	width: 863px;
}

.manufaturing table th {
	background-color: gray;
	color: white;
	border-collapse: collapse;
	border: 1px solid white;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.manufaturing th, .manufaturing td {
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	height: 30px;
}

.manufaturing .manu_container {
	display: flex;
}

.manufaturing .manu_container div {
	margin: 0;
	margin-right: 20px;
}


.manufaturing .manu_container .prod_table {
	height: 500px;
}

.manufaturing .manu_container .prod_table table {
	width: 250px;
}

.manufaturing .manu_container .prod_table .p1 {
	width: 70px;
	border-collapse: collapse;
	border-left: 1px solid black;
}

.manufaturing .manu_container .prod_table .p2 {
	width: 100px;
}

.manufaturing .manu_container .prod_table .p3 {
	width: 70px;
	border-right: 1px solid black;
}

.manufaturing .manu_container .i1 {
	width: 90px;
	border-collapse: collapse;
	border-left: 1px solid black;
}

.manufaturing .manu_container .i2 {
	width: 90px;
}

.manufaturing .manu_container .i3 {
	width: 90px;
}

.manufaturing .manu_container .i4 {
	width: 90px;
}

.manufaturing .manu_container .i5 {
	width: 90px;
}

.manufaturing .manu_container .i6 {
	width: 100px;
}

.manufaturing .manu_container .i7 {
	width: 100px;
}

.manufaturing .manu_container .i8 {
	width: 90px;
}

.manufaturing .manu_container .i9 {
	width: 70px;
}

.manufaturing .manu_container .i10 {
	width: 70px;
	border-collapse: collapse;
	border-right: 1px solid black;
}

.manufaturing .manu_container .lot_table .inputField {
	width: 70px;
}

.manufaturing .manu_container .lot_table {
	height: 559px;
}

.manufaturing .manu_container .lot_table table {
	width: 890px;
}

.manufaturing .manu_container .prod_table .view_table {
	overflow-y: scroll;
	width: 100%;
	height: 300px;
	margin: 0;
}

.manufaturing .manu_container .lot_table .inst_table {
	overflow-y: scroll;
	width: 100%;
	height: 500px;
	margin: 0;
}